
#img{
max-width: 90%;
max-height: 90vh;
padding: 5%;
}

.marco{
  display: flex;
  justify-content: center;
  align-items: center;
}

.marcoMini{

 display: flex; 

}

.marcoPricipal{
  display: flex;

}


@media screen and (max-width: 576px) {
  .marcoPricipal{
    flex-direction: column;
  }

}